<footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
  <div class="mw7 center">
    {% if site.email %}
      <p>
        <a href="mailto:" class="link b f3 f2-ns dim black-70 lh-solid">{{ site.email }}</a>
      </p>
    {% endif %}

    {% if site.author %}
      <p class="f6 db b ttu lh-solid">{{ site.author | escape }}</p>
    {% else %}
      <p class="f6 db b ttu lh-solid">{{ site.title | escape }}</p>
    {% endif %}

    <div class="mt5">
      {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
      {% endif %}

      {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
      {% endif %}

      <p class="f6 dib pr2 mid-gray dim">Subscribe <a class="link f6 dib pr2 mid-gray dim" href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

      <!-- <p class="f6 dib pr2 mid-gray">{{ site.description | escape }}</p> -->
    </div>
  </div>
</footer>