<header class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <nav class="nav-item">
          <a href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
        </nav>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
          {% if p.navigation_weight %}
              <a class="nav-item"  href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                {{ p.title }}
              </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>
  </div>
</header>
