<section class="cf mb5">
  <a href="/bulb.html" class="fl w-50 w-25-l link overflow-hidden">
    <div role="img" aria-label="Primer movie" class="grow aspect-ratio--1x1" style="background: url(../assets/images/bulb/01_bulb-cover.jpg) no-repeat center center; background-size: cover;"></div>
  </a>

  <a href="/bulb.html" class="fl w-50 w-25-l link overflow-hidden">
    <div role="img" aria-label="The Big Short movie" class="grow aspect-ratio--1x1" style="background: url(../assets/images/bulb/01_bulb-cover.jpg) no-repeat center center; background-size: cover;"></div>
  </a>

  <a href="/bulb.html" class="fl w-50 w-25-l link overflow-hidden">
    <div role="img" aria-label="Bottle Rocket movie" class="grow aspect-ratio--1x1" style="background: url(../assets/images/bulb/01_bulb-cover.jpg) no-repeat center center; background-size: cover;"></div>
  </a>
  
  <a href="/bulb.html" class="fl w-50 w-25-l link overflow-hidden">
    <div role="img" aria-label="Ex Machina movie" class="grow aspect-ratio--1x1" style="background: url(../assets/images/bulb/01_bulb-cover.jpg) no-repeat center center; background-size: cover;"></div>
  </a>
 </section>