<nav class="cf mt3 mb5 pb3 bb b--moon-gray">
  <div class="w-90 center mh3">
    <a href="/" class="fl link dark-gray hover-dark-pink f7 fw6 helvetica tracked ttu">{{ site.title | escape }}</a>

    <div class="fr dtc tr">
      <a href="/" class="link blue hover-dark-pink f5 i dib mr3 mr4-ns">
        Home
      </a>

      <a href="/certificados.html" class="link blue hover-dark-pink f5 i dib mr3 mr4-ns">
        Certificados
      </a>
      
      <a href="/diario.html" class="link blue hover-dark-pink f5 i dib mr3 mr4-ns">
        Diário
      </a>
    </div>
  </div>
</nav>