{% for post in site.posts %}
  <div class="level index-item">
    <div class="level-left">
      <div class="level-item">
        <span class="index-item-date">
          {{ post.date | date: "%b %-d, %Y" }}
        </span>
      </div>
      
       <div class="level-item">
        <a class="index-item-title" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <span class="index-item-tag">
          {{ post.tags | escape }}
        </span>
      </div>
    </div>
  </div>
{% endfor %}