<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
  {% endfor %}
</ul>


<!-- {% for post in site.posts %}
  <a class='post-index-item' href="{{ base }}{{ post.url | replace: ".html", "" }}">
    <span class='date'>{{ post.date | date_to_string }}</span>
    <span class='article'>{{ post.title }}</span>
    <strong class='tag'>{{ post.tags | first }}</strong>
  </a>
{% endfor %} -->