::selection {
    color: #fff;
    background: $cor-secundaria;
}

::-moz-selection {
    color: #fff;
    background: $cor-secundaria;
}

body {
    font-family: $font-texto;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $cor-texto;
}

main {
    padding: 8rem 4rem 0 4rem;
}

header {
    margin-bottom: 8rem;
}

section, article {
    margin: 0 auto 5rem;

    p {
        margin-bottom: 2.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.container-wide {
    max-width: 88em;
}

.container-narrow {
    max-width: 34em;
}