/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
  Variables
========================================================================== */
/* ==========================================================================
  Classes
========================================================================== */
.shadow {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2); }

.destaque {
  color: #ff6300;
  font-weight: 700; }

/* ==========================================================================
  Extend usage
  @extend %nome;
========================================================================== */
nav, main, footer .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem; }
  @media (min-width: 46.25em) {
    nav, main, footer .container {
      padding: 4rem; } }

.row:before, .row:after {
  content: "";
  display: table; }

.row:after {
  clear: both; }

.row {
  zoom: 1; }

/* ==========================================================================
  +
========================================================================== */
::selection {
  color: #fff;
  background: #ff6300; }

::-moz-selection {
  color: #fff;
  background: #ff6300; }

/* ==========================================================================
  Typography
========================================================================== */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75em;
  color: #111; }
  @media (min-width: 46.25em) {
    body {
      font-size: 1.25em; } }

h1,
h2,
.big {
  font-weight: 700; }

h1,
.big {
  font-size: 1.6em;
  line-height: 1.6em;
  margin-bottom: 3rem; }

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.huge {
  font-size: 2.5em;
  line-height: 1.2em; }

p,
ul,
ol {
  margin-top: 0em;
  margin-bottom: 2em; }

a {
  color: #357edd;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #357edd; }
  a:hover, a:focus {
    opacity: .5;
    transition: opacity .15s ease-in; }
  a:active {
    opacity: .8;
    transition: opacity .15s ease-out; }

/* ==========================================================================
  Main
========================================================================== */
nav {
  font-size: .75em;
  font-weight: 700; }
  @media (min-width: 46.25em) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  nav .logo {
    color: #000;
    border-bottom: none; }
  nav ul {
    margin-bottom: 0; }
  nav li {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 0; }
    @media (min-width: 46.25em) {
      nav li {
        margin-right: 4rem; }
        nav li:last-child {
          margin-right: 0; } }

main time,
main .pre {
  display: block;
  font-size: 75%;
  color: #919191;
  margin-bottom: 2em; }

main figure {
  text-align: center;
  margin-bottom: 2em; }

main img {
  max-width: 100%;
  margin-bottom: 2em; }

main blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #ff6300;
  padding: 2rem;
  margin-bottom: 2em; }

main strong {
  font-weight: 700; }

.posts_list li,
.projects_list li {
  margin-bottom: 1em; }
  .posts_list li a,
  .projects_list li a {
    color: #111;
    font-weight: 700;
    border-bottom: none;
    margin-bottom: 0; }
  .posts_list li p,
  .projects_list li p {
    color: #919191;
    font-size: .6em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0; }
  @media (min-width: 46.25em) {
    .posts_list li,
    .projects_list li {
      display: flex;
      justify-content: space-between;
      align-items: baseline; } }
  @media (min-width: 46.25em) and (min-width: 46.25em) {
    .posts_list li .space,
    .projects_list li .space {
      content: "";
      display: block;
      border-bottom: 1px solid #ccc;
      flex: 1 1 auto;
      margin-right: 1rem;
      margin-left: 1rem;
      min-width: 1em; } }

.row .column {
  width: 100%; }
  @media (min-width: 46.25em) {
    .row .column {
      width: 50%;
      float: left;
      _display: inline; } }

@media (min-width: 46.25em) {
  .row .pr,
  .row .pl {
    padding: 0 1rem; } }

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc; }
  footer a {
    border-bottom: none; }
  footer .social_icons {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; }
    footer .social_icons a {
      color: #515151;
      background-color: transparent;
      width: 1.5rem; }
      @media (min-width: 46.25em) {
        footer .social_icons a {
          font-size: 2em;
          margin-right: 2rem; }
          footer .social_icons a:last-child {
            margin-right: 0; } }
