/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ==========================================================================
  Variables
========================================================================== */
/* ==========================================================================
  Classes
========================================================================== */
@media (min-width: 46.25em) {
  .center {
    text-align: center; } }

.strike {
  text-decoration: line-through; }

.shadow {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2); }

/* ==========================================================================
  Extend usage
  @extend %nome;
========================================================================== */
/* ==========================================================================
  Usage
  input {
    @include input-placeholder {
      color: [value];
    }
  }
========================================================================== */
/* ==========================================================================
  PX to REM Usage:
  font-size: rem(20)
  margin: rem(40) rem(40);
  https://github.com/nicholasruggeri/px-to-rem-sass-mixin
========================================================================== */
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.75em;
  color: #111; }
  @media (min-width: 46.25em) {
    body {
      font-size: 1.25em; } }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

h1 {
  color: #000;
  font-size: 1.5em;
  line-height: 1.5em; }
  @media (min-width: 46.25em) {
    h1 {
      font-size: 4em;
      line-height: 1.2em; } }

h2 {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: 4rem;
  margin-bottom: 2rem; }

h3 {
  color: #ff6300;
  font-size: 1em;
  margin-bottom: .5rem; }

h4 {
  font-size: 1em; }

p,
ul,
ol,
li,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 1.75em; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em; }

hr,
.hr {
  border: 1px solid;
  margin: -1px 0; }

a,
b,
i,
strong,
em,
small,
code {
  line-height: 1; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

::selection {
  color: #fff;
  background: #ff6300; }

::-moz-selection {
  color: #fff;
  background: #ff6300; }

nav {
  max-width: 1530px;
  font-size: 75%;
  font-weight: 700;
  margin: 0 auto;
  padding: 2rem; }
  @media (min-width: 46.25em) {
    nav {
      padding: 2.5rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  nav .logo {
    color: #000; }
  nav a {
    border-bottom: none; }
  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0 0; }
    @media (min-width: 46.25em) {
      nav ul {
        margin: 0; } }
  nav li {
    margin: 0 2rem 0 0; }
    @media (min-width: 46.25em) {
      nav li {
        margin-right: 4rem; }
        nav li:last-child {
          margin-right: 0; } }

main {
  max-width: 1530px;
  margin: 0 auto; }

header {
  padding: 2rem; }
  @media (min-width: 46.25em) {
    header {
      padding: 4rem; } }

section,
article {
  padding: 2rem 2rem 0 2rem; }
  section:last-child,
  article:last-child {
    margin-bottom: 2rem; }
  @media (min-width: 46.25em) {
    section,
    article {
      padding: 4rem 0 0 0; }
      section:last-child,
      article:last-child {
        margin-bottom: 4rem; } }

time {
  display: block;
  color: #919191;
  margin-bottom: 1.75em; }

figure {
  text-align: center;
  margin-bottom: 1.75em; }

.container {
  max-width: 36em;
  margin: 0 auto; }

a {
  color: #357edd;
  text-decoration: none;
  border-bottom: 1px solid #357edd; }
  a:hover, a:focus {
    opacity: .5;
    transition: opacity .15s ease-in; }
  a:active {
    opacity: .8;
    transition: opacity .15s ease-out; }

img {
  max-width: 100%;
  margin-bottom: 1.75em; }

@media (min-width: 46.25em) {
  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline; } }

@media (min-width: 46.25em) {
  li .space {
    content: "";
    display: block;
    border-bottom: 1px dotted #ccc;
    flex: 1 1 auto;
    margin-right: 1rem;
    margin-left: 1rem;
    min-width: 1em; } }

.courses ul {
  margin-top: 4rem; }

.courses li span:first-child {
  font-weight: 700; }

.courses li span:last-child {
  color: #919191;
  font-size: .6em;
  letter-spacing: .1em; }

.courses li a {
  font-size: .75em; }

.projects a {
  display: block;
  margin-bottom: 2rem; }

@media (min-width: 46.25em) {
  .projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .projects a {
      width: 50%;
      border-bottom: none; } }

.posts_list li a {
  font-weight: 700;
  border-bottom: none; }

.posts_list li p {
  color: #919191;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0; }

footer {
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  padding: 2rem; }
  @media (min-width: 46.25em) {
    footer {
      padding: 4rem; } }
  footer a {
    border-bottom: none; }
  footer .email {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0.875em; }
    @media (min-width: 46.25em) {
      footer .email {
        font-size: 2em; } }
  footer .social_icons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (min-width: 46.25em) {
      footer .social_icons {
        justify-content: flex-start; } }
    footer .social_icons a {
      color: #515151;
      background-color: transparent;
      width: 1.5rem; }
      @media (min-width: 46.25em) {
        footer .social_icons a {
          font-size: 2em;
          margin-right: 2rem; }
          footer .social_icons a:last-child {
            margin-right: 0; } }
