body {
    font-family: $font-texto;
    font-size: 1em;
    line-height: 1.75em;
    color: $cor-texto;

    @include mq($from: tablet) {
        font-size: 1.5em;
    }
}

h1,
h2,
.big {
    font-family: $font-titulo;
    font-weight: 700;
}

h1,
.big {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.huge {
    font-size: 4em;
    line-height: 1.2em;
}

p,
ul,
ol {
    margin-top: 0em;
    margin-bottom: 2em;
}

a {
    color: $cor-link;
    text-decoration: none;
    border-bottom: 1px solid $cor-link;

    &:hover,
    &:focus {
        opacity: .5;
        transition: opacity .15s ease-in;
    }
    &:active {
        opacity: .8;
        transition: opacity .15s ease-out;
    }
}