// https://gridlover.net/try
body,
{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    color: $cor-texto;

    @include mq($from: tablet) {
        font-size: 1.25em;
    }
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h1 {
    color: #000;
    font-size: 1.5em;
    line-height: 1.5em;

    @include mq($from: tablet) {
        font-size: 3.8em;
        line-height: 1.2em;
    }
}

h2 {
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    color: $cor-secundaria;
    font-size: 1em;
    margin-bottom: .5rem;
}

h4 {
    font-size: 1em;
}

p,
ul,
ol,
li,
pre,
table,
blockquote {
    margin-top: 0em;
    margin-bottom: 1.75em;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0em;
    margin-bottom: 0em;
}

hr,
.hr {
    border: 1px solid;
    margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
    line-height: 1;
}

sub,
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}