/* ==========================================================================
  Variables
========================================================================== */

$width-maximo: 1000px;

$font-base: 'Roboto', Helvetica, Arial, sans-serif;

$cor-primaria: #ff6300; //laranja
$cor-texto: #111;
$cor-link: #357edd; //azul
$cor-cinza: #f5f5f5;
$borda: 1px solid #ccc;

/* ==========================================================================
  Classes
========================================================================== */

.center {
    @include mq($from: tablet) {
        text-align: center;
    }
}

.shadow {
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2);
}

.destaque {
    color: $cor-primaria;
    font-weight: 700;
}

/* ==========================================================================
  Extend usage
  @extend %nome;
========================================================================== */

%container {
    max-width: $width-maximo;
    margin: 0 auto;
    padding: 2rem;

    @include mq($from: tablet) {
        padding: 4rem;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    & {
        zoom: 1;
    }
}

/* ==========================================================================
  +
========================================================================== */

::selection {
    color: #fff;
    background: $cor-primaria;
}

::-moz-selection {
    color: #fff;
    background: $cor-primaria;
}