/* ==========================================================================
  Variables
========================================================================== */

$width-maximo: 1200px;

$font-titulo: 'Roboto', Helvetica, Arial, sans-serif;
$font-texto: Georgia, Times, "Times New Roman", serif;

$cor-primaria: #ff6300; //laranja
$cor-texto: #111;
$cor-link: #357edd; //azul
$cor-cinza: #f5f5f5;
$borda: 1px solid #ccc;

/* ==========================================================================
  Classes
========================================================================== */

.center {
    @include mq($from: tablet) {
        text-align: center;
    }
}

.strike {
    text-decoration: line-through;
}

.shadow {
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2);
}

.destaque {
    color: $cor-primaria;
}

/* ==========================================================================
  Extend usage
  @extend %nome;
========================================================================== */

%container {
    max-width: $width-maximo;
    margin: 0 auto;
    padding: 2rem;

    @include mq($from: tablet) {
        padding: 4rem;
    }
}

%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    & {
        zoom: 1;
    }
}

/* ==========================================================================
  Usage
  input {
    @include input-placeholder {
      color: [value];
    }
  }
========================================================================== */

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

/* ==========================================================================
  PX to REM Usage:
  font-size: rem(20)
  margin: rem(40) rem(40);
  https://github.com/nicholasruggeri/px-to-rem-sass-mixin
========================================================================== */

@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}


@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: 16px;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}