@charset "utf-8";
@import "vendor/reset";
@import "vendor/normalize";
@import "vendor/syntax";
@import "vendor/tachyons";

::selection {
    color: #fff;
    background: #ff6300;
}

::-moz-selection {
    color: #fff;
    background: #ff6300;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

// h1 {}
// h2 {}
// h3 {
//   color: #ff6300;
//   font-weight: bold;
//   font-size: 1rem;
//   margin-bottom: 1rem;
// }
// nav {}
// header {}
// main {}

article p {
    margin-bottom: 2rem;

    &:last-child {
        // margin-bottom: 0;
    }
}