@charset "utf-8";
@import "vendor/reset";
@import "vendor/mq";
@import "utilities";
@import "typography";

nav {
    @extend %container;
    font-size: .75em;
    font-weight: 700;

    @include mq($from: tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: #000;
        border-bottom: none;
    }

    ul {
        margin-bottom: 0;
    }

    li {
        display: inline-block;
        margin-right: 2rem;
        margin-bottom: 0;

        @include mq($from: tablet) {
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

main {
    @extend %container;
    
    time,
    .assine {
        display: block;
        font-size: 75%;
        color: lighten($cor-texto, 50%);
        margin-bottom: 2em;
    }

    figure {
        text-align: center;
        margin-bottom: 2em;
    }

    img {
        max-width: 100%;
        margin-bottom: 2em;
    }

    blockquote {
        background-color: $cor-cinza;
        border-left: 5px solid $cor-primaria;
        padding: 2rem;
        margin-bottom: 2em;
    }
    
    strong {
        font-weight: 700;
    }
}

.posts_list,
.projects_list {
    li {
        margin-bottom: 1em;

        a {
            // font-size: 2em;
            color: $cor-texto;
            font-weight: 700;
            border-bottom: none;
            margin-bottom: 0;
        }

        p {
            color: lighten($cor-texto, 50%);
            font-size: .6em;
            text-transform: uppercase;
            letter-spacing: .1em;
            margin: 0;
        }

        @include mq($from: tablet) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            .space {
                @include mq($from: tablet) {
                    content: "";
                    display: block;
                    border-bottom: $borda;
                    flex: 1 1 auto;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    min-width: 1em;
                }
            }
        }
    }
}

.row {
    @extend %clearfix;

    .column {
        width: 100%;

        @include mq($from: tablet) {
            width: 50%;
            float: left;
            _display: inline;
        }
    }

    .pr,
    .pl {
        @include mq($from: tablet) {
            padding: 0 1rem
        }
    }
}

footer {
    background-color: $cor-cinza;
    border-top: $borda;

    .container {
        @extend %container;
    }

    a {
        border-bottom: none;
    }

    .social_icons {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a {
            color: lighten($cor-texto, 25%);
            background-color: transparent;
            width: 1.5rem;

            @include mq($from: tablet) {
                font-size: 2em;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}