@charset "utf-8";
@import "vendor/reset";
@import "vendor/mq";
@import "utilities";
@import "typography";

::selection {
    color: #fff;
    background: $cor-primaria;
}

::-moz-selection {
    color: #fff;
    background: $cor-primaria;
}

nav {
    @extend %container;
    font-family: $font-titulo;
    font-size: 75%;
    font-weight: 700;

    .logo {
        color: #000;
        border-bottom: none;
    }

    li {
        display: inline-block;
        margin-right: 2rem;
        margin-bottom: 0;

        @include mq($from: tablet) {
            margin-right: 4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

main {
    @extend %container;
}

time {
    display: block;
    color: lighten($cor-texto, 50%);
    margin-bottom: 1.75em;
}

figure {
    text-align: center;
    margin-bottom: 1.75em;
}

img {
    max-width: 100%;
    margin-bottom: 1.75em
}

blockquote {
    background-color: $cor-cinza;
    border-left: 5px solid $cor-primaria;
    padding: 2rem;
}

strong {
    font-weight: 700;
}

a {
    color: $cor-link;
    text-decoration: none;
    border-bottom: 1px solid $cor-link;

    &:hover,
    &:focus {
        opacity: .5;
        transition: opacity .15s ease-in;
    }
    &:active {
        opacity: .8;
        transition: opacity .15s ease-out;
    }
}

// .projects_list {
//     font-family: $font-titulo;

//     li {
//         font-size: 2.5em;

//         a {
//             font-weight: 700;
//             border-bottom: none;
//         }
//     }
// }

.posts_list, .projects_list {
    font-family: $font-titulo;
    
    li {
        a {
            color: $cor-texto;
            font-weight: 700;
            border-bottom: none;
        }

        p {
            color: lighten($cor-texto, 50%);
            font-size: .6em;
            text-transform: uppercase;
            letter-spacing: .1em;
            margin: 0;
        }
        
        @include mq($from: tablet) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
    
            .space {
                @include mq($from: tablet) {
                    content: "";
                    display: block;
                    border-bottom: $borda;
                    flex: 1 1 auto;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    min-width: 1em;
                }
            }
        }
    }
}

.row {
    @extend %clearfix;
    
    .column {
        width: 100%;

        @include mq($from: tablet) {
            width: 50%;
            float: left;
            _display: inline;
        }
    }

    .pr, .pl {
         @include mq($from: tablet) {
            padding: 0 1rem
        }
    }
}


footer {
    font-family: $font-titulo;
    background-color: $cor-cinza;
    border-top: $borda;

    .container {
        @extend %container;
    }

    a {
        border-bottom: none;
    }

    .email {
        font-size: 1.25em;
        font-weight: 700;
        margin-bottom: 0.875em;

        @include mq($from: tablet) {
            font-size: 2em;
        }
    }

    .social_icons {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        a {
            color: lighten($cor-texto, 25%);
            background-color: transparent;
            width: 1.5rem;

            @include mq($from: tablet) {
                font-size: 2em;
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}