---
layout: default
---

<header class="bg-gold">
  <div class="measure-wide-l center ph4 ph6-ns ph0-l pv4 pv5-l">
    <h1 class="f3 f2-l fw7 measure-narrow-l lh-title pb3">
      <span class="bg-black-90 lh-copy white pa1 tracked">
        User Experience, Visual Design & Front-End Development
      </span>
    </h1>
    <h2 class="f3 fw1 georgia i">Lorem ipsum dolor est.</h2>
  </div>
</header>

<section class="cf measure-wide-l center pa0 pv5-l">
  {{ content }}
  {% include post-list.html %}
</section>
