---
layout: base
---

<header class="cf measure-wide center">  
  <h1 class="georgia black f-subheadline lh-title mb5">{{ page.title }}</h1>

  <p class="f7 ttu tracked-mega mono light-silver mb4">
    <time>{{ page.date | date: "%d %m %Y" }}</time> • Tags: {{ page.tags }} 
  </p>
</header>

<article class="cf measure-wide center mb5">
  {{ content }}
</article>

<section class="cf measure-wide center mb5">
    <h2 class="f5 dark-red mb3">Talvez você se interesse por...</h2>
	{% include posts.html %}
</section>