---
layout: default
---

<header class="bt bb b--black-10 dt w-100">
  <div class="mw7 center ph4 ph0-l pv4 ph6-ns pv5-l">
    <p class="f6 fw1 georgia i mb3">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>

    <h1 class="f2 fw7 measure-narrow lh-title mt0 mb3">{{ page.title | escape }}</h1>

    <p class="f6 fw1 georgia i mb2">
      {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> — {% endif %}Categoria: {{ page.categories }} — Tags: {{ page.tags }}
    </p>
  </div>
</header>

<article class="mw7 center ph4 ph0-l pv4 ph6-ns pv5-l lh-copy" itemscope itemtype="http://schema.org/BlogPosting">
  <div itemprop="articleBody">
    {{ content }}
</article>
